extends _modal

block header
    if (project.cwurl)
        div 
            a(href=project.cwurl target='_blank') #{header}
    else 
        div #{header}

block footer
    div #{footer}

block content
    .prjTitle  #{project.title}
    .prjTeaser #{project.teaser}
    .prjKeys
        .key.start Start date <span>#{new Date(project.startDate).toLocaleDateString('en-GB', { month: 'short', year: 'numeric'  })}</span>
        .key.end End date <span>#{new Date(project.endDate).toLocaleDateString('en-GB', { month: 'short', year: 'numeric'  })}</span>
        .key.budget Budget <span>#{new Intl.NumberFormat('en-GB', {style: 'currency', currency: 'EUR'}).format(project.budget)}</span>
        .key.call Funding call <span>#{project.call}</span>
        .key.type Project type <span>#{project.type}</span>
    if (scale)
        .score
            .scale
                .label Relative performance
                != scale
            .mtrl
                #mrl.key MRL <span>#{blip.mrl}</span>
                #trl.key TRL <span>#{blip.trl}</span>

