extends _modal

block header
    if (project.cwurl)
        div 
            a(href=project.cwurl target='_blank') #{header}
    else 
        div #{header}

block content
    .prjTitle  #{project.title}
    .prjTeaser #{project.teaser}
    .prjKeys
        .key.start Start date <span>#{new Date(project.startDate).toLocaleDateString('en-GB', { month: 'short', year: 'numeric'  })}</span>
        .key.end End date <span>#{new Date(project.endDate).toLocaleDateString('en-GB', { month: 'short', year: 'numeric'  })}</span>
        .key.budget Budget <span>#{new Intl.NumberFormat('en-GB', {style: 'currency', currency: 'EUR'}).format(project.budget)}</span>
        .key.call Funding call <span>#{project.call}</span>
        .key.type Project type <span>#{project.type}</span>
    if (scale)
        .score
            .scale
                .label Relative performance
                != scale
            .mtrl
                #mrl.key MRL <span>#{blip.mrl}</span>
                #trl.key TRL <span>#{blip.trl}</span>
block footer
    div #{footer}


//-     <section class="content">
//-         <div id="score">
//-             <div id="scale" style="width: 49.7%;display: inline-block;">
//-                 <div></div>
//-                 <svg viewBox="-25 -20 400 50" style="width: 400px;height: 50px;display:  inline-block;"><g class="data"><path d="M0,0L0,10" stroke-width="1" stroke="black"></path><path d="M43.08510638297872,0L43.08510638297872,10" stroke-width="1" stroke="black"></path><path d="M450,0L450,10" stroke-width="1" stroke="black"></path><path d="M0,0L450,0" stroke-width="2" stroke="black"></path><text x="0" y="25">min</text><text x="43.08510638297872" y="25">median</text><text x="450" y="25">max</text><path d="M450,0L450,-15" stroke-width="3" stroke="red"></path></g></svg>
//-             </div>
//-             <div id="mtrl" style="display:  inline-block;vertical-align: top;width: 49.7%;font-size:  0.9em;">
//-                 <div id="mrl">MRL: <span>3</span></div>
//-                 <div id="trl">TRL: <span>3</span></div>
//-             </div>
//-         </div>
//-     </section>
//-     <footer>footer</footer>
//- </div>

