header.header
    // Cyberwatchng logo
    nav.nav.nav-logo
        a(href='https://www.cyberwatching.eu/')
            img(src="/img/cyberwatching-logo.png", alt="Cyberwatching logo")

    // radar title - immutable
    div.title
        span #{title}

    // user account menu - shown only if user is logged in
    nav.nav.nav--user
        if user

    // menu bar
    div.menu-bar
        div.menu-item
            a Editions
            if (editions)
                ul
                    each e in editions
                        a(href=`/api/v1/radar/${e.slug}`) #{e.name}
        div.menu-item
            a Disclaimer
        div.menu-item
            a Documentation

    //-   a.nav__el.nav__el--logout Log out
    //-   a.nav__el(href='/me')
    //-     img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
    //-     span= user.name.split(' ')[0]


