header.header
    .header--top
        //- Cyberwatchng logo
        .logo
            a(href='https://www.cyberwatching.eu/')
                img(src="/img/cyberwatching-logo.png", alt="Cyberwatching logo")
        //- radar title - immutable
        .title
            span #{title}
        //- user account menu - shown only if user is logged in
        //.user--menu
    .header--menu
        .menubar
            .menu-item
                a(href='#') Editions
                if (editions)
                    .div(style="position: relative; top: 2px;")
                        .sub-menu
                            each e in editions
                                .menu-item: a(href=`/radar/${e.slug}`) #{e.name}
            .menu-right
                .menu-item
                    a(href='#') Disclaimer
                .menu-item
                    a(href='#') Documentation
    



    //- // menu bar
    //-     div.menu-item
    //-         button Editions

    //-   a.nav__el.nav__el--logout Log out
    //-   a.nav__el(href='/me')
    //-     img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
    //-     span= user.name.split(' ')[0]


