extends ../structure/_base

mixin administerForm(slug, label, enabled)
    - const verb = label.toLowerCase()
    form.form.administer-radar-form(route=`/api/v1/radar/${slug}/${verb}`)
        //- Inject an input field for the cutoff date
        - if (label === 'Publish') {
            .form__group
                label.form__label(for='cutoff') Cutoff date: 
                input#cutoff.form__input(type='date')
        - }
        - const btnID = `btn--${verb}-radar`
        - if (enabled)
            .form__group: button(id=btnID).btn= label
        - else
            .form__group: button(id=btnID, disabled).btn= label

block content
    h2 Edit #{radar.name} radar
    .edit-radar-form: form.form#edit-radar-form
        .form__group
            label.form__label(for='summary') Summary
            textarea#summary(name="summary", cols="70", rows="10")= radar.summary
        .form__group.ma-bt-md
            input#radarid.form__input(type='hidden', required, value=`${radar._id}`)
        .form__group
            button.btn#btn--update-radar Update radar

    h2 Administer Radar
    .populate-radar-form
        +administerForm(radar.slug, 'Publish', radar.status === 'created')
        +administerForm(radar.slug, 'Re-publish', radar.status === 'published')
        +administerForm(radar.slug, 'Archive', radar.status === 'published')
        +administerForm(radar.slug, 'Reset', true)
