include ../../../common/views/widgets/lifecycle.pug
include ../../../common/views/widgets/radarLocation.pug

doctype html
html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700")
        style(type="text/css").
            body {
                font-family: 'Lato';
                font-size: 1rem;
            }
            .stats > .location > .legend {
                display: grid;
                grid-template-columns: 0.2fr 1fr 0.5fr;
                width: fit-content;
            }
            .stats > .location > .legend > .key {
                flex: 1 1 0px;
                font-size: 0.8em;
                color: darkgray;
                padding: 0 0.5em 0 0;
                margin: auto 0;
                vertical-align: middle;
                text-align: right;
                border: unset;
            }
            .stats > .location > .legend > .value {
                vertical-align: middle;
                margin: auto 0px;
            }

    body
    h1.cw.widget #{name}
    .stats
    .score
        - if (scale)
            .label Relative performance
            != scale
            .mtrl
                #mrl.key MRL <span>#{blip.mrl}</span>
                #trl.key TRL <span>#{blip.trl}</span>
                #score.key Performance <span>#{blip.performance}</span>
    .location
        .legend
            .key Segment: 
            .value #{blip.segment}
            .key Ring: 
            .value #{blip.ring}
        +radarLocation(model, blip.segment, blip.ring)
        +lifecycle(model, blip.ring)

