mixin radarLocation(model, segment, ring, radiiFunc)
    //- 
    //- CSS
    //- 
    style(type="text/css").
        #radar-location {
            margin: 1em;
        }
        #radar-location > svg {
            height: 4em;
        }

    //- 
    //- TEMPLATE
    //- 
    #radar-location
        svg(viewBox="0 0 102 102")
            // draw an empty mini radar
            // first the ring borders
            - const theta = 360/model.segments.length
            - let radii
            - if (radiiFunc) {
            -    radii = radiiFunc(model.segments.length, model.rings.length, 50)
            - } else {
            -    radii = [0, 10, 30, 50, 70, 90]
            - }
            - for (let i=1; i<radii.length; i++) {
                circle(cx=51 cy=51 r=radii[i] stroke-width="1px" stroke="black" fill="transparent")
            - }
            // then the lines
            - for (let i=0; i<model.segments.length; i++) {
                line(x1=51 y1=51 x2=51 y2=1 stroke-width=1 stroke='black' transform=`rotate(${theta*i}, 51, 51)`)
            - }
            // finally, a special circle that "fills" the appropriate ring segment.
            // First, calculate some values...
            -
                const idx = model.rings.indexOf(ring)
                const strokeW = radii[idx+1]-radii[idx]
                const radius = radii[idx] + strokeW/2
                const circumference = 2 * Math.PI * radius
                offset = 0.25 * circumference // needed to let the circle begin at top, not right
                const dashLen = (theta / 360) * circumference
                const dashPause = circumference - dashLen
                const rotate = theta*model.segments.indexOf(segment)
            // draw the circle
            circle(cx=51 cy=51 r=radius stroke-dasharray=`${dashLen}, ${dashPause}` stroke-dashoffset=offset stroke="black" stroke-width=strokeW fill="none", transform=`rotate(${rotate}, 51, 51)`)
            //- - const rotate = 
            //- draw a circle with a dashed line 
            // ... and then rotated according to the project's segment.
