
mixin adminItem(title, endpoint, ...role)
    if (role.includes(user.role))
        .menu-item: button.admin(route=endpoint) #{title}

header.header
    .header--top
        //- Cyberwatchng logo
        .logo
            a(href='https://www.cyberwatching.eu/')
                img(src="/img/cyberwatching-logo.png", alt="Cyberwatching logo")
        //- radar title - immutable
        .title
            a(href='/')
                span Cyberwatching Project Radar
        //- user account menu - shown only if user is logged in
        .user--menu
            if user
                a.nav__el.nav__el--logout Log out
                a.nav__el(href='/user/account')
                    img(alt=`${user.name}`, src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8IS0tIFdyaXR0ZW4gYnkgVHJlZXIgKGdpdGxhYi5jb20vVHJlZXIpIC0tPg0KPHN2ZyANCgl2ZXJzaW9uPSIxLjEiIA0KCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgDQoJeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIA0KCXdpZHRoPSI2MDAiIA0KCWhlaWdodD0iNjAwIg0KCWZpbGw9IndoaXRlIj4NCg0KICA8dGl0bGU+QWJzdHJhY3QgdXNlciBpY29uPC90aXRsZT4NCg0KICA8ZGVmcz4NCiAgICA8Y2xpcFBhdGggaWQ9ImNpcmN1bGFyLWJvcmRlciI+DQogICAgICA8Y2lyY2xlIGN4PSIzMDAiIGN5PSIzMDAiIHI9IjI1MCIgLz4NCiAgICA8L2NsaXBQYXRoPg0KICA8L2RlZnM+DQogIA0KICA8Y2lyY2xlIGN4PSIzMDAiIGN5PSIzMDAiIHI9IjI4MCIgZmlsbD0iYmxhY2siIC8+DQogIDxjaXJjbGUgY3g9IjMwMCIgY3k9IjIzMCIgcj0iMTAwIiAvPg0KICA8Y2lyY2xlIGN4PSIzMDAiIGN5PSI1NTAiIHI9IjE5MCIgY2xpcC1wYXRoPSJ1cmwoI2NpcmN1bGFyLWJvcmRlcikiIC8+DQo8L3N2Zz4=")
            else
                a.nav__el(href='/user/login') Log in
    .header--menu
        .menubar
            .menu-item: button.radar(radar='') Live radar
            .menu-item
                button Editions
                if (editions)
                    .div(style="position: relative; top: 2px;")
                        .sub-menu
                            each e in editions
                                .menu-item: button.radar(radar=`${e.slug}`) #{e.name}
            - if (user && (user.role === 'admin' || user.role === 'manager'))
                .menu-item
                    button Admin
                    .div(style="position: relative; top: 2px;")
                        .sub-menu
                            +adminItem('Manage users', '/admin/user', 'admin')
                            +adminItem('Manage projects', '/admin/project', 'admin', 'manager')
                            +adminItem('Manage radars', '/admin/radar', 'admin', 'manager')

            .menu-right
                .menu-item
                    button.disclaimer(route='/disclaimer') Disclaimer
                .menu-item
                    button.documentation(route='/doc') Documentation
